/* banner */
.retangulo-azul {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}

.imagem-fundo {
    width: 100%;
    height: auto;
}

.texto-banner {
    font-size: 4vw;
    font-weight: bold;
    color: var(--white);
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
}

.ajudante {
    position: absolute;
    bottom: 0%;
    right: 2%;
    width: 30%;
}

.ajudante-mobile {
    display: none;
}

.sobreposicao {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 47, 137, 0.74);
}

@media only screen and (max-width: 900px) {
    .texto-banner {
        position: absolute;
        top: 10%;
        left: 5%;
        font-size: 3vw;
        width: 90%;
    }

    .ajudante {
        display: none;
    }

    .ajudante-mobile {
        display: block;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: auto;
    }
}