/* date */
.container-inputs .date,
.date2 {
    width: 329px;
    height: 48px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-right: 5px;
    padding-left: 60px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/icons/Bpark icons calendario png-01-02 1.svg');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 39px 36px;
}

.container-inputs .date,
.date2::placeholder {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.container-botao {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 280px;
}

button {
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    padding: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: var(--white);
    color: var(--primary);
    border: 2px solid var(--primary);
}