/* header */
header {
    display: flex;
    background-color: var(--white);
    justify-content: center;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    color: var(--primary);
    width: 100%;
    align-items: center;
    gap: 180px;
    padding: 40px;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}