.orcamento {
    background-color: var(--blue);
    padding: 6vw;
    /* Usando vw para o preenchimento */
    display: flex;
    color: var(--white);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulo-orcamento {
    font-size: 4vw;
    /* Usando vw para o tamanho da fonte */
    text-transform: uppercase;
    margin-bottom: 6vw;
    /* Usando vw para a margem */
}

.subtitulo-orcamento {
    font-size: 2.4vw;
    /* Usando vw para o tamanho da fonte */
    font-weight: bold;
    margin-bottom: 3.7vw;
    /* Usando vw para a margem */
}

.container-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    /* Usando vw para a margem */
}

.container-inputs div {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    /* Usando vw para a margem */
    position: relative;
}

/* Regras de estilo para telas menores */
@media only screen and (max-width: 900px) {
    .orcamento {
        padding: 4vw;
        /* Redefinindo o preenchimento em vw */
    }

    .titulo-orcamento {
        font-size: 3vw;
        /* Redefinindo o tamanho da fonte em vw */
        margin-bottom: 3vw;
        /* Redefinindo a margem em vw */
    }

    .subtitulo-orcamento {
        font-size: 1.5vw;
        /* Redefinindo o tamanho da fonte em vw */
        margin-bottom: 1.5vw;
        /* Redefinindo a margem em vw */
    }

    .container-inputs {
        gap: 2vw;
        /* Usando vw para o espaçamento entre os elementos */
    }

    .container-inputs div {
        flex-direction: column;
        gap: 2vw;
        /* Usando vw para o espaçamento entre os elementos */
    }

    .orcamento .container-botao-orcamento {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}