/* seguir */
.seguir {
    background-color: var(--gray);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 61px 50px;
    justify-content: center;
    flex-direction: column;
}

.container-seguir {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.container-seguir img {
    width: 357px;
    margin-top: 40px;
}

@media only screen and (max-width: 900px) {
    .container-seguir {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .container-seguir img {
        width: 200px;
    }
}